extends ../templates/main/template

block title
    ='Home page'

block content
    p Host (domain): #{host}
    p Sub folder: #{basePath}
    p Full site path: #{sitePath}
    p Path to do resource folder: #{resPath}
    p Route path: #{path}
    p GET params: !{query}